# SpecStory explanation file
.specstory/.what-is-this.md
.specstory/
.cursorindexingignore

# Node.js modules
node_modules

# Maven build files
target/

# Package files
dist/
install_output/
temp_build/
app.ico
dependency-reduced-pom.xml

# Releases
.tasks/

# Code exporter
code_exporter/
